.flex {
    display: flex;
    gap: 1rem;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}