@import "margin-padding-helper.css";

/* Global styles
*/

:root {
  --color-white: #e7e7e7;
  --color-primary: #ffe449;
  --color-primary-dark: #181818;
  --color-primary-lighter: #282828;
  --border-radius: 10px;
  --main-layout-vertical-padding: 1rem;
}

* {
  box-sizing: border-box;
  font-family: Sono, sans-serif;
}

body {
  font-family: Helvetica, sans-serif;
  color: var(--color-white);
  background-color: var(--color-primary-dark);
}

.button {
  color: var(--color-primary-dark);
  background-color: var(--color-white);
  padding: .5rem 2rem;
  border-radius: var(--border-radius);
  display: block;
  width: fit-content;
}

.title-1xl {
  font-size: 1.25rem;
}

.title-2xl {
  font-size: 1.5rem;
}

.title-3xl {
  font-size: 1.75rem;
}

.title-4xl {
  font-size: 2rem;
}

/* Main layout
*/

.main-layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
}

.outlet-section {
  overflow-y: scroll;
  padding-top: var(--main-layout-vertical-padding);
}

/* Fonts
*/

@font-face {
  font-family: "Sono";
  src: url("/assets/fonts/sono/Sono-VariableFont_MONOwght.ttf");
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}