.header {
    padding: .5rem var(--main-layout-vertical-padding);
}

.headerList__item {
    margin: .5rem 0;
}

.headerLink {
    background-color: var(--color-primary);
    border-radius: var(--border-radius);
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.no-style-btn {
    border: none;
    background: none;
    outline: none;
    padding: 0;
}

.headerLink>* {
    color: var(--color-primary-dark);
}