.ship__waypoints {
    display: flex;
    overflow-x: scroll;
    gap: 1rem;
    padding: 1rem 0;
}

.ship__waypoint {
    padding: 1rem;
    border-radius: var(--border-radius);
    background-color: var(--color-primary-dark-lighter);
    display: flex;
    flex-direction: column;
    gap: .5rem;
}